#flex
{
color:blue;
text-align:center;
background-color:darkgoldenrod;
}
#logging
{
   text-align:left; 
   float:left;
   background-color:darkgray;
   width: 200px;
   height: 600px;
}
#grafic
{    
    float:left;
    background-color:brown;
    height: 600px;
    width: 700px;
}
#footer
{
    clear: both;
    background-color: darkkhaki;
}
#logo
{
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}