body
{
    background-color: rgb(36, 36, 36);
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#head
{
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}
#logo
{
    text-align: center;
    font-size: 72px;
    float: left;
    
}
#logging
{
   text-align:left; 
   float:left;
   background-color:rgb(78, 78, 78);
   width: 200px;
   height: 600px;
   color: white;
}
.button
{
    background-color: black;
    height: 50px;
    width: 180px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 22px;
    align-items: center;
    border: none;
}
.button:hover
{
    background-color: rgb(44, 43, 43);
    cursor: pointer;
}
#grafic
{    
    float:left;
    background-color:brown;
    height: 600px;
    width: 800px;
}
#footer
{
    background-color: darkkhaki;
}
a:link
{
    color: white;
    text-decoration: none;
}
a:visited
{
    color: white;
    text-decoration: none;
}
