body
{
    background-color: rgb(92, 78, 78);
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}
#logging
{
   text-align:left; 
   float:left;
   background-color:darkgray;
   width: 200px;
   height: 600px;
}
.LogInButton
{
    background-color: black;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    font-size: 22px;
}
.LogInButton:hover
{
    background-color: rgb(44, 43, 43);
}
#grafic
{    
    float:left;
    background-color:brown;
    height: 600px;
    width: 800px;
}
#footer
{
    clear: both;
    background-color: darkkhaki;
}

